.tag-item-footer-list {
    display: block;
}

.tag-item-separator-list {
    display: block;
}

.tag-item-footer-grid {
    display: none;
}

.tags-main-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.tag-disposition {
    width: 100%;
}

.tag-container {
    padding: 0 10px;
    margin: 10px 0;
    min-width: 900px;
}

.tag-item {
    border: 0.01em solid #D1D1D1;
    background-color: #ffffff;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: all;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tag-item-header {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    cursor: auto;
}

.tag-item-title {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    max-width: 100px;
}

.tag-item-title span {
    text-align: center;
}

.tag-item-separator-list {
    border-right: 1px solid #C4C4C4;
    margin: 0 20px;
    transition: 0.3s;
    transition-property: all;
}

.tag-item-inputs {
    margin: 0 10px;
}

.tag-item-details {
    padding: 0 15px;
    cursor: auto;
}

.tag-item-details-title {
    border-bottom: 1px solid #C4C4C4;
}

.tag-item-details-body {
    padding: 10px 0;
}

.tag-item-dropdown {
    height: 100%;
}

.tag-item-button-dropdown {
    cursor: pointer;
    height: 100%;
    width: 90px;
    background-color: #D1D1D1;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    transition-property: all;
}

.tag-item:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/*TAG ITEM ACTIVE*/
.tag-item.active {
    border-color: #0D5B98;
    box-shadow: 0 4px 4px 0 rgba(13,91,152,0.25);
}

.tag-item.active .text-tag{
    color: #0D5B98;
}

.tag-item.active .tag-item-button-dropdown {
    background-color: #0D5B98;
}

.tag-item.active .icon-selector {
    background-color: #0D5B98;
}

.tag-item.active .tag-item-separator-list {
    border-color: #0D5B98;
}

.custom-col-4 {
  width: 33.33333333%;
}


/*MEDIA QUERIES*/
/*SM*/
@media (min-width: 576px) {

}

/*MD*/
@media (min-width: 768px) {

}

/*LG*/
@media (min-width: 992px) {

}

/*XL*/
@media (min-width: 1200px) {

}

/*XXL*/
@media (min-width: 1400px) {

}