@page
@model IndexModel


<div class="text-center">    
    <div class="row align-items-end">
        <div class="col-12">
            <h2>Valores</h2>
        </div>
    </div>
    <div class="row align-items-start" id="cards">
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <button class="btn btn-primary" onclick="SaveData()">Guardar</button>
        </div>
    </div>
</div>

@section Scripts{ 
<script type="text/javascript">
    var webIds = [];
    $(document).ready(function () {
        GetTagListValues();
    });    
    //function GetData() {
    //    $.ajax({
    //        type: "POST",
    //        url: "/Home/GetData",
    //        traditional: true,
    //        success: (response) => {
    //            if (response.success) {
    //                let process = JSON.parse(response.process);
    //                let data = JSON.parse(JSON.parse(response.data));
    //                console.log("process: ",process);
    //                console.log("data: ", data);
    //                $("#tabla_valores tbody").empty();
    //                $("#tabla_valores tbody").html(LlenarTabla(data));
    //            } else {
    //                let process = JSON.parse(response.process);
    //                console.log(process);
    //            }
    //        }
    //    });
    //}
    //function LlenarTabla(data) {
    //    var html = "";
    //    for (var i = 0; i < data.Items.length; i++) {
    //        if (Number.isInteger(data.Items[i].Value)) {
    //            html += "<tr>";
    //            html += "<td>" + data.Items[i].Timestamp + "</td>";
    //            html += "<td>" + data.Items[i].Value + "</td>";
    //            html += "</tr>";
    //        }
    //    }
    //    return html;
    //}
    //function PostData() {
    //    $.ajax({
    //        type: "POST",
    //        url: "/Home/PostData",
    //        traditional: true,
    //        data: {
    //            "webId": "xdddd",
    //            "fecha": $('#fecha').val(),
    //            "hora": $('#hora').val(),
    //            "valor": $('#valor').val()
    //        },
    //        success: (response) => {
    //            if (response.success) {
    //                let process = JSON.parse(response.process);
    //                let data = response.data;
    //                console.log("process: ",process);
    //                console.log("data: ",data);
    //                console.log("--EXITO--");
    //                GetData();
    //            } else {
    //                let process = JSON.parse(response.process);
    //                console.log(process);
    //                console.log("--FAIL--");
    //            }
    //        }
    //    });
    //}
    //Get Tag List Values
    function GetTagListValues() {
        var data = [];
        var html = "";
        var values = [];
        webIds.length = 0;
        data.length = 0;
        $('#cards').empty();
        $.ajax({
            type: "POST",
            url: "/Home/GetTagListValues",
            traditional: true,
            success: (response) => {                
                let process = JSON.parse(response.process);                
                for (let i = 0; i < process.length; i++) {
                    console.log(process[i]);
                }
                if (response.success) {
                    data = JSON.parse(response.data);
                    console.log("data",data);
                    for (let i = 0; i < data.length; i++) {
                        console.log("--------------------------------");
                        console.log(data[i].Name);
                        console.log(data[i].WebId);
                        webIds.push(data[i].WebId);
                        values.push(JSON.parse(JSON.parse(data[i].Result)));
                        html += LoadCards(JSON.parse(JSON.parse(data[i].Result)), data[i].Name, data[i].WebId);
                        console.log(JSON.parse(JSON.parse(data[i].Result)));
                    }
                    $('#cards').html(html);
                }
            }
        });
    }
    function LoadCards(data, name, webId) {
        var html = "";
        var lastValue = GetLastValue(data.Items)
        html += "<div class=\"col-sm-12 col-md-6 col-lg-4 mb-2\">";
        html += "<div class=\"card\" id=\"" + webId + "\">";
        html += "<div class=\"card-header\">" + name + "</div>";
        html += "<div class=\"card-body\">";
        html += "<div class=\"row\">";
        html += "<div class=\"col-12\">";
        html += "<span class=\"text-danger\" id=\"danger_" + webId + "\"/></span>";
        html += "</div>";
        html += "</div>";
        html += "<div class=\"row\">";
        html += "<div class=\"col-6\">";
        html += "<input type=\"date\" id=\"date_" + webId + "\" class=\"form-control\" />";
        html += "</div>";
        html += "<div class=\"col-6\">";
        html += "<input type=\"time\" id=\"time_" + webId + "\" class=\"form-control\" step=\"1\" />";
        html += "</div>";
        html += "</div>";
        html += "<div class=\"row\">";
        html += "<div class=\"col-12\">";
        html += "<input type=\"number\" id=\"value_" + webId + "\" class=\"form-control\" />";
        html += "</div>";
        html += "</div>";
        html += "<div class=\"row\">";
        html += "<div class=\"col-12\">";
        if (Number.isInteger(lastValue.value)) {
            html += "<label>Última Fecha:" + lastValue.date + "</label>";
        } else {
            html += "<label>Última Fecha: No Disponible</label>";
        }
        html += "</div>";
        html += "</div>";
        html += "<div class=\"row\">";
        html += "<div class=\"col-12\">";
        if (Number.isInteger(lastValue.value)) {
            html += "<label>Último Valor:" + lastValue.value + "</label>";
        } else {
            html += "<label>Último Valor: No Disponible</label>";
        }
        html += "</div>";
        html += "</div>";
        html += "</div>";
        html += "</div>";
        html += "</div>";
        return html;
    }
    function GetLastValue(data) {
        var value = data[0].Value;
        var date = data[0].Timestamp;
        for (let i = 1; i < data.length; i++) {
            if (data[i].Timestamp > date) {
                if (Number.isInteger(data[i].Value)) {
                    value = data[i].Value;
                    date = data[i].Timestamp;
                }
            }
        }
        var obj = {
            "value" : value,
            "date" : date
        };
        return obj
    }
    //Post Values
    function SaveData() {
        for (let i = 0; i < webIds.length; i++) {
            PostValue(webIds[i]);
        }
    }
    function PostValue(webId) {
        var dateText = '#date_' + webId;
        var timeText = '#time_' + webId;
        var valueText = '#value_' + webId;
        var date = $(dateText).val();
        var time = $(timeText).val();
        var value = $(valueText).val();
        if (ValidateData(date, time, value, webId))
            $.ajax({
                type: "POST",
                url: "/Home/PostData",
                traditional: true,
                data: {
                    "webId": webId,
                    "fecha": date,
                    "hora": time,
                    "valor": value
                },
                success: (response) => {
                    let process = JSON.parse(response.process);
                    console.log("process: ", process);
                    if (response.success) {
                        let data = response.data;
                        console.log("data: ", data);
                        console.log("--EXITO--");
                        GetTagListValues();
                    } else {
                        console.log(process);
                        console.log("--FAIL--");
                    }
                }
            });
    }
    function ValidateData(date, time, value,webId) {
        var result = true;
        if (!(date.length > 0) && !(time.length > 0) && value == "") {
            result = false;
            $('#danger_' + webId).empty();
            $('#danger_' + webId).text("No se envió la información, todos los campos deben estar completos")
        }
        return result;
    }
</script>
}